setup-readme:
  stage: .pre
  image: alpine:latest
  script:
    - |
      if grep -q 'project=PROJECT_ID' README.md; then
        apk add --no-cache git
        sed -i "s/PROJECT_ID/$CI_PROJECT_ID/g" README.md
        git config user.email "ci@gitlab"
        git config user.name "CI"
        git add README.md
        git commit -m "Set project ID in launch badge"
        git push "https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:${CI_COMMIT_BRANCH}
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
