workflow:
  rules:
    - when: always

setup-readme:
  stage: .pre
  image: alpine:latest
  script:
    - |
      if grep -q 'project=PROJECT_ID' README.md; then
        sed -i "s/PROJECT_ID/$CI_PROJECT_ID/g" README.md
        B64=$(base64 -w0 README.md)
        wget --header="JOB-TOKEN: $CI_JOB_TOKEN" \
             --header="Content-Type: application/json" \
             --post-data='{"branch":"'"$CI_COMMIT_BRANCH"'","commit_message":"Set project ID in launch badge","actions":[{"action":"update","file_path":"README.md","encoding":"base64","content":"'"$B64"'"}]}' \
             -O- "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/commits"
      else
        echo "PROJECT_ID already replaced, skipping."
      fi
